html,
body {
    width:100%;
    height:100%;
    padding:0;
    margin-left:0;
    margin-right:0;
}

body {
    font-family: sans-serif;
    font-weight: 300;

}

section {
    position:relative;
}


section .container {
    padding-top: 70px;
}


.container {
    position: relative;
    overflow: hidden;
}

#about, #contact {
    background-color: white;
}




.row {
    position: relative;
}




/*TEXT STYLES*/

.jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
    margin: 0;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}


h2 {
    font-size: 60px;
    color: black;
    letter-spacing: 15px;
}


h1, h2, h3, h4, h5 {
    font-family: 'waiting for the sunrise',sans-serif;
    font-weight: 800;
}





p {
    margin-top:20px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #4c4c4c;
    text-align: left;
    padding: 0 50px;
}



#intro p {
    color: #fff;
    font-size:20px;     
    line-height: 25px
}



#contact p {
    text-align: center;
}


@media screen and (max-width: 500px){

    .jumbotron h1 {
        font-size: 50px;
        letter-spacing: 6px;
    }

    h2 {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    p {
	padding: 0;
    }

}


/*NAVBAR */


header .navbar {
    background: rgba(255,255,255, 0.7);
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 99;
    transition: all 0.4s ease;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}



/*

header .navbar {
    position: relative;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
}




@media  (min-width: 720px) {
    .navbar{
        width: 33.33%;
    }
}

@media (max-width: 1367px) {
    .navbar {
    padding: 0 20px;
    }
}


.navbar .navbar-brand {
    padding: 0;
    margin-top: 30px;
    transition: all 0.4s ease;
}


@media  (min-width: 720px) {
    .navbar-brand {
        width: 33.33%;
    }
}



.navbar navbar-right{

}

@media  (min-width: 720px) {
    .navbar-right {
        width: 66.66666664%;
    }
}

*/

/*
.navbar-default {
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    -moz-transition: all .5s ease .25s;
    -o-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}
.navbar-default .navbar-brand{
    font-family:  sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #04B1B2;
    background-color: transparent;
}

.affix-top{
    border-bottom: solid 1px #D6D6D6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.affix{
    background-color: rgba(255, 255, 255, 0.95);
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: solid 1px #D6D6D6;
}

.navbar-toggle{
    top: -20px;
    position: relative;
}
.navbar-toggle span {
    background-color: #333;
    border-radius: 1px;
    display: block;
    height: 2px;
    right: 10px;
    position: absolute;
    -webkit-transition: 50% 50% cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition: 50% 50% cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 50% 50% cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 50% 50% cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 50% 50% cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 29px;
    width: 25px;
}

.navbar-toggle span.middle {
    top: 36px;
    opacity: 1;
}
.navbar-toggle span.bottom {
    top: 43px;
}

.navbar-toggle.active span.top { 
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.7s cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 36px;
}

.navbar-toggle.active span.middle { 
    opacity: 0;
    top: 36px;
}

.navbar-toggle.active span.bottom { 
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.7s cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 36px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav > li > a {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
    position: relative;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #333;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #333;
}
*/




/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--background -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/



@media (min-width:800px) {
    .backstretch {
        height: 85% !important;
    }
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Intro -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/


#intro {
    height: 90%;
}


.jumbotron {
    background:transparent;
}

.valign{
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    transform: translateY(-55%);
}




/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Gallery -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/


#gallery {
    background:white;
    padding-top:100px;
    height: auto;
}


#gallery .container {
    padding: 50px 6px;
    width: 100%;

}


.gallery-wall {
    position: relative;
    padding-top:20px;   
    max-width: 100%;
}


.gallery-item .caption {
    opacity: 0.5; 
    position: relative;
    top: 70%;
    height: 30%;
    background: rgba(85, 85, 85, 0.7);
    
}



/*----- 
ref: http://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive  
---*/


.gallery-item {
    float: left;
    position: relative;
    left:0;
    top:0;
    margin:0;
    height:auto;
    width: 25%;
    padding:6px;
    z-index: 2;
}



.galleryImage {
    width: 100%;
    height: auto;
}


.galleryImage:hover {
    /*pending*/
}



@media only screen and (max-width: 1000px) {
    .gallery-item {
        width: 50%;
    }
}


@media only screen and (max-width: 500px) {
    .gallery-item {
        width: 100%;
    }
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

gallery-inner .caption {
    /* opacity: 0; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.7);
    -webkit-transition: all 1s ease-in-out;
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--About -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#about p {
    text-align: justify;
}

#about img {
    width: 160px; 
    padding-top: 30px;
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Contact -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/





.infoContact-layout{
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoContact{
    list-style:none;
    font-size: 15px;
}


.socialContact {
    position: relative;
    list-style:none;
    padding: 20px;
    margin-left: 15px; 
}


.socialContact li{
    display: table-cell;
    padding: 10px;
    margin: 0px;
}


.icon {
    padding: 10px;
    margin: 0px;
    height: 60px;
    width: 60px;
    position: relative;
}





/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Footer -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.bottomLine {
    padding: 50px;
    margin: 0 auto;
    background-color: #222222;

}

#footer a {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
}
